@page
@model LanguageTutor.Web.Pages.L1.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LanguageText[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageText[0].EnglishTranslation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageText[0].Pronunciation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageText[0].Usecases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageText[0].LanguageType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LanguageText) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishTranslation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pronunciation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usecases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
